AUTH_SECRET = YOUR_AUTH_KEY
AUTH_GOOGLE_ID = YOUR_GOOGLE_AUTH_ID
AUTH_GOOGLE_SECRET = YOUR_GOOGLE_SECRET
GEMINI_VERSION = YOUR_GEMINI_PREFERRED_VERSION
GOOGLE_GENERATIVE_AI_API_KEY = GEMINI_API_KEY
BACKEND_URL = YOUR_BACKEND_URL
NEXT_PUBLIC_APP_URL = YOUR_PUBLIC_APP_URL
NEXT_PUBLIC_CHATBOT_STORAGE_KEY = CHAT_BOT_STORAGE_KEY